.slidecontainer_color {
    position: absolute;
    left: 1255px;
    top: 130px;
    width: 425px;
}

.slider_color {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_color:hover {
    opacity: 1;
}

.slider_color::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slider_color::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slidecontainer_brightness {
    position: absolute;
    left: 1395px;
    top: 220px;
    width: 425px;
}

.slider_brightness {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_brightness:hover {
    opacity: 1;
}

.slider_brightness::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slider_brightness::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slidecontainer_absurd {
    position: absolute;
    left: 1255px;
    top: 533px;
    width: 425px;
}

.slider_absurd {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_absurd:hover {
    opacity: 1;
}

.slider_absurd::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slider_absurd::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slidecontainer_touch {
    position: absolute;
    left: 1395px;
    top: 300px;
    width: 425px;
}

.slider_touch {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_touch:hover {
    opacity: 1;
}

.slider_touch::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slider_touch::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 9;
}

.slidecontainer_volume {
    position: absolute;
    left: 1255px;
    top: 435px;
    width: 425px;
}

.slider_volume {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 0;
}

.slider_volume::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/VV.png');
    cursor: pointer;
    z-index: 0;
}