body {
    /* transform: scale(0.7);
    transform-origin: 0 0; */
    zoom: 1.5;
}

a:active {
    background-color: yellow;
}

#ellipse {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1751px;
    top: 45px;
}

#shopper {
    position: absolute;
    width: 29px;
    height: 35px;
    left: 1780px;
    top: 70px;
    filter: invert(100%);
    border: 3px solid #FFFFFF
}

#agency {
    position: absolute;
    width: 456px;
    height: 66px;
    left: 100px;
    top: 43px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    color: #000000;
}

#event {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 77px;
    top: 180px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    transform: rotate(-90deg);
}

#service {
    position: absolute;
    width: 200px;
    height: 200px;
    ;
    left: 77px;
    top: 970px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #000000;
    transform: rotate(-90deg);
}

#thing {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 77px;
    top: 580px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #000;
    transform: rotate(-90deg);
}

div#event-text {
    position: absolute;
    width: 90%;
    height: 310px;
    left: 200px;
    top: 160px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    /* or 132% */
    color: #fff;
}

div#thing-text {
    position: absolute;
    width: 90%;
    height: 310px;
    left: 200px;
    top: 610px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    /* or 132% */
    color: #fff;
}

div#service-text {
    position: absolute;
    width: 90%;
    height: 310px;
    left: 200px;
    top: 970px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    /* or 132% */
    color: #ffffff;
}

#event-text:hover {
    color: #000;
}

#thing-text:hover {
    color: #000;
}

#service-text:hover {
    color: #000;
}